/* =============
    Gallery
============= */
#gallery{
    @include xl{
        display: grid;
        grid-template-columns: auto 1440px auto;
        grid-template-areas: ". gallery ."
    }
    
    ul{
        grid-area: gallery;
        display: grid;
        
        @include md{
            grid-template-columns: 50% auto;
        }
        @include lg{
            grid-template-columns: 60% auto;
        }
        @include xl{
            grid-template-columns: 65% auto;
            grid-template-areas: "gallery-1 gallery-2"
                                 "gallery-1 gallery-3";
        }

        li{
            img{
                width: 100%;
            }
        }

        #gallery-1{
            @include xl{
                grid-area: gallery-1;
            }  
        }
        #gallery-2{
            @include xl{
                grid-area: gallery-2;
            }
        }

        #gallery-3{
            display: none;
            @include xl{
                display: list-item;
            }
        }
    }
}