/* =============
    Hero
============= */
#hero {
    ul{
        @include md{
            display: grid;
            grid-template-columns: 40% auto;
        }
        
        @include lg{
            grid-template-columns: 50% auto;
        }

        background-color:white;
        
        li{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". hero-content .";

            a{
                grid-area: hero-content;
            }
        }

        #hero-sub-one{
            @include xl{
                grid-template-columns: auto 480px 16px;
            }
        }
        #hero-sub-two{
            @include xl{
                grid-template-columns: 16px 480px auto;
            }
        }
    }
}