/* =============
    New
============= */
#new {
    background-color: black;
    
    @include md{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". new ."
    }
    
    @include xl {
        grid-template-columns: auto 1000px auto;
    }

    >div {
        @include md{
            grid-area: new;
        }
        
        h1{
            color: $white;
        }

        ul {
            @include md {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas: "new-one new-one new-two new-two"
                                     "new-three new-three new-four new-four"
                                     ". new-five new-five .";
                gap: 16px;
            }
            @include lg {
                grid-template-columns: repeat(6, 1fr);
                grid-template-areas: "new-one new-one new-two new-two new-three new-three"
                                     ". new-four new-four new-five new-five .";
            }
            li{
                background-color: $black;
                color: $white;

                section {
                    display: grid;
                    grid-template-columns: 16px auto 16px;
                    grid-template-areas: ". new-content .";
                    >div {
                        grid-area: new-content;
                    }
                }
            }
            #new-one {
                background-image: url("../img/new/one.jpg");
                background-position: center;
                background-size: cover;
                height: 160px;

                @include md {
                    grid-area: new-one;
                }
            }

            #new-two {
                background-image: url("../img/new/two.jpg");
                background-position: center;
                background-size: cover;
                height: 160px;

                @include md {
                    grid-area: new-two;
                }
            }

            #new-three {
                background-image: url("../img/new/three.jpg");
                background-position: center;
                background-size: cover;
                height: 160px;

                @include md {
                    grid-area: new-three;
                }
            }

            #new-four {
                background-image: url("../img/new/four.jpg");
                background-position: center;
                background-size: cover;
                height: 160px;

                @include md {
                    grid-area: new-four;
                }
            }

            #new-five {
                background-image: url("../img/new/five.jpg");
                background-position: center;
                background-size: cover;
                height: 160px;

                @include md {
                    grid-area: new-five;
                }
            }
        }
    }
}