/* =============
    New
============= */
#new {
    background-color: black;
    
    @include md{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". new ."
    }
    
    @include xl {
        grid-template-columns: auto 1000px auto;
    }

    >div {
        @include md{
            grid-area: new;
        }

        ul {
            @include md {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas: "new-one new-one new-two new-two"
                                     "new-three new-three new-four new-four"
                                     ". new-five new-five .";
                gap: 16px;
            }
            @include lg {
                grid-template-columns: repeat(6, 1fr);
                grid-template-areas: "new-one new-one new-two new-two new-three new-three"
                                     ". new-four new-four new-five new-five .";
            }
            li{
                background-color: $black;
                color: $white;
                img {
                    width: 100%;
                }
                section {
                    display: grid;
                    grid-template-columns: 16px auto 16px;
                    grid-template-areas: ". new-content .";
                    >div {
                        grid-area: new-content;
                    }
                }
            }
            #new-one {
                @include md {
                    grid-area: new-one;
                }
            }

            #new-two {
                @include md {
                    grid-area: new-two;
                }
            }

            #new-three {
                @include md {
                    grid-area: new-three;
                }
            }

            #new-four {
                @include md {
                    grid-area: new-four;
                }
            }

            #new-five {
                @include md {
                    grid-area: new-five;
                }
            }
        }
    }
}