/* =============
    Search
============= */
#search{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". search .";
    background-color: $white;
    padding: 16px;

    @include xl{
        grid-template-columns: auto 1000px auto;
    }

    >div{
        grid-area: search;

        form{
            display: flex;
            
            input{
                font-size: rem-calc(16px);
                padding-right: 230px;

                @include md{
                    font-size: rem-calc(30px);
                    padding-right: 335px;
                }

                @include lg{
                    font-size: rem-calc(35px);
                    font-weight: 400;
                    padding-right: 525px;
                }
            }

            button{
                margin-left: auto;
                i{
                    font-size: rem-calc(14px);

                    @include md{
                        font-size: rem-calc(30px);
                    }

                    @include lg{
                        font-size: rem-calc(38px);
                    }

                    @include xl{
                        font-size: rem-calc(42px);
                    }
                }
            }
        }
    }
}