/* =============
    Footer
============= */
footer {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";
    background-color: $black;
    padding: 20px 18px;
    border-top: 2px $white solid;

    @include md {
        padding: 25px 18px;
    }

    @include lg {
        padding: 40px 18px;
    }

    @include xl {
        grid-template-columns: auto 1000px auto;
    }

    >div {
        grid-area: footer;
        color: $white;
        gap: 16px;

        @include md {
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: "locations news"
                "locations follow";
        }

        @include lg {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: "locations news follow";
        }

        section {
            h3 {
                font-size: rem-calc(20);
                font-weight: 500;
                margin: 20px 0px;

                @include md {
                    margin-bottom: 24px 0px;
                }

                @include lg {
                    margin-bottom: 28px 0px;
                }
            }

            section {
                h4 {
                    font-size: rem-calc(16);
                    font-weight: 400;
                    margin: 18px 0px;

                    @include md {
                        margin: 24px 0px;
                    }

                    @include lg {
                        margin: 28px 0px;
                    }
                }

                ul {
                    li {
                        display: flex;
                        align-items: center;
                        margin-bottom: 18px;

                        @include md {
                            margin-bottom: 24px;
                        }

                        @include lg {
                            margin-bottom: 28px;
                        }

                        div {
                            i {
                                margin-right: 18px;
                            }
                        }

                        address {
                            font-size: rem-calc(12);
                            font-weight: 400;
                            font-family: 'DM Sans', sans-serif;
                            font-style: normal;
                        }

                        a {
                            font-size: rem-calc(12);
                            font-weight: 400;
                            font-family: 'DM Sans', sans-serif;
                        }

                        a:link,
                        a:visited {
                            color: $white;
                            transition: 0.25s;
                        }

                        a:hover,
                        a:active {
                            color: $grey;
                        }
                    }
                }
            }
        }

        #locations {
            @include md {
                grid-area: locations;
            }

            .border {
                border-bottom: 2px $white solid;
            }
        }

        #news {
            @include md {
                grid-area: news;
            }

            form {
                input {
                    display: block;
                    margin-bottom: 20px;
                    width: 96%;

                    @include md {
                        margin-bottom: 24px;
                    }

                    @include lg {
                        margin-bottom: 28px;
                    }
                }

                button {
                    display: flex;
                    margin-left: auto;
                }
            }
        }

        #follow {
            @include md {
                grid-area: follow;
            }

            @include lg {
                text-align: right;
                justify-content: flex-end;
            }

            ul {
                display: flex;

                @include lg {
                    justify-content: flex-end;
                }

                li {
                    margin-right: 24px;

                    a:link,
                    a:visited {
                        color: $white;
                        transition: 0.25s;

                        &:hover,
                        &:active {
                            color: $grey;
                        }
                    }
                }
                #none{
                    margin-right: 0px;
                }
            }
        }
    }
}