/* =============
    Footer
============= */
footer {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";
    background-color: $black;

    @include xl{
        grid-template-columns: auto 1000px auto;
    }

    >div {
        grid-area: footer;
        color: $white;

        @include md {
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: "locations news"
                                 "locations follow";
        }

        @include lg {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: "locations news follow";
        }

        #locations {
            @include md{
                grid-area: locations;
            }
        }

        #news {
            @include md{
                grid-area: news;
            }
        }

        #follow {
            @include md{
                grid-area: follow;
            }
        }
    }
}