/* =============
    Header
============= */
// header {
//     display: grid;
//     grid-template-columns: 16px auto 16px;
//     grid-template-areas: ". header .";
//     background-color: $black;
//     padding: 20px;

//     @include md {
//         grid-template-columns: 32px auto 32px;
//     }

//     div {
//         grid-area: header;

//         border: 4px $white solid;
//         height: 35px;
//         width: 35px;
//         border-radius: 100%;

//         @include md {
//             height: 45px;
//             width: 45px;
//         }

//         @include lg {
//             height: 55px;
//             width: 55px;
//         }
//     }
// }

/* =============
    Header
============= */
header {
    background-color: $white;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

    @include md{
        padding: 24px 0;
    }

    @include lg{
        padding: 16px 0;
    }

    >div {
        display: grid;
        grid-template-areas: 
        "logo burger"
        "nav nav";
        grid-template-columns: 20% auto;

        @include lg {
            grid-template-areas: "logo nav";
            grid-template-columns: 20% auto;
        }

        #logo-container {
            grid-area: logo;
            padding: 10px;

            border: 4px $white solid;
            height: 35px;
            width: 35px;
            border-radius: 100%;

            @include md {
                height: 45px;
                width: 45px;
            }

            @include lg {
                height: 55px;
                width: 55px;
            }
        }

        #burger-container {
            align-items: center;
            display: flex;
            grid-area: burger;
            padding: 10px;

            @include lg {
                display: none;
            }

            i {
                margin-left: auto;
                cursor: pointer;
                font-size: rem-calc(25);
                color: $black;
            }
        }

        #nav-container {
            background-color: $white;
            display: none;
            grid-area: nav;
            padding: 20px 10px 10px;

            @include lg {
                background-color: $white;
                // display: block;
            }
        }
    }
}